*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: #075E54;
    align-items: center;
    text-align: center;
    justify-content: center;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    background: -webkit-linear-gradient(rgb(21, 240, 13), rgb(7, 158, 228));
    color: aliceblue;
    font-size: 30px;
    margin-top: 80px;
    transition: 1s ease-in-out;
}
button:hover{
    transform:translateY(-10px)
}   
footer, p, h1{
    margin: 10px;
    font-size: larger;
    background: -webkit-linear-gradient(rgb(21, 240, 13), rgb(7, 158, 228));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    font-size: 40px;
}

.dice{
    display: inline-block;
    text-align: center;
    margin: 70px 10px;
}

img{
    width: 80%;
}
@media(max-width: 600px){
    img{
        flex-basis: 30%;
    }
    #dices{
        display: flex;
    }
    h1{
        font-size: 30px;
        margin: 20px;
    }
    button{
        margin-top: 60px;
        font-size: 20px;
    }
}