*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: #075E54;
    align-items: center;
    text-align: center;
    justify-content: center;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    background: -webkit-linear-gradient(rgb(21, 240, 13), rgb(7, 158, 228));
    color: aliceblue;
    font-size: 30px;
    margin-top: 80px;
    transition: 2s ease-in-out;
}
button:hover{
    background: -webkit-linear-gradient(rgb(21, 240, 13), rgb(7, 158, 228));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
footer, p{
    margin: 20px;
    font-size: larger;
    background: -webkit-linear-gradient(rgb(21, 240, 13), rgb(7, 158, 228));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dice{
    display: inline-block;
    text-align: center;
    margin: 90px 10px;
}

img{
    width: 80%;
}